@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

* {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
